.navbar a {
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.navbar a:hover {
  color: silver;
}

.searchContainer {
  padding: 1rem;
}

.statsSection {
  margin-top: 10px;
  background: lightgray;
  border-radius: 5px;
}

.container-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  opacity: 90%;
  padding-top: 5px;
  border-radius: 0 0 5px 5px;
}

.card-stats {
  margin: 0 10px;
}

.card .statsBase {
  font-weight: bold;
  margin-bottom: 2px;
}

.card .statsStr {
  margin: 0;
  color: orangered;
}

.card .statsAgi {
  margin: 0;
  color: lawngreen;
}

.card .statsInt {
  margin: 0;
  color: cyan;
}

button {
  margin: 0 10px;
}

.home-container {
  padding: 3.5rem;
  margin: 3rem;
  text-align: center;
  background-image: url(./assets/imgs/dota2-wallpaper.jpg);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-area {
  background-color: rgba(228, 228, 228, 0.3);
  border-radius: 5px;
  padding: 1rem;
}

.home-container h1 {
  color: black;
  font-size: 300%;
}

.home-container h2 {
  color: white;
  font-size: 150%;
}

.guides-container{
  padding: 1.5rem;
  border-radius: 5px;
  background-image: url(./assets/imgs/dota2-wallpaper.jpg);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.guides-container h1 {
  color: silver;
}

form {
  font-weight: bolder;
}

footer {
  position:relative;
  left:0px;
  bottom:0px;
  width:100%;
}

.error-container {
  padding: 8rem;
  margin: 2.5rem;
  text-align: center;
  font-size: 150%;
}
