@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Ubuntu&display=swap");


* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(237, 237, 233);
  background: linear-gradient(
    0deg,
    rgba(237, 237, 233, 1) 0%,
    rgba(32, 30, 30, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}
